<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
   
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 ">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tempora, laborum fuga non nostrum officia et temporibus nobis asperiores distinctio iusto magnam quibusdam repudiandae enim cumque quis veniam nisi, possimus natus laboriosam. Repudiandae asperiores iste voluptate provident esse reiciendis delectus expedita perferendis atque earum, molestias sit ullam nam sapiente distinctio debitis reprehenderit iure. Ipsam, aperiam dolore? Deserunt voluptatem porro praesentium quae, cum minus ullam totam consectetur, impedit aut pariatur molestias voluptates repudiandae esse rerum. Nulla suscipit asperiores, vitae fugit debitis perferendis qui aperiam tempore beatae molestiae facere commodi id aspernatur quia aliquam illum quas architecto sit amet consectetur dolor facilis ad non. Quibusdam cupiditate fugit repellat? Cum excepturi laudantium, soluta asperiores labore exercitationem quaerat corporis modi adipisci similique rem enim nesciunt pariatur sint fuga voluptate possimus quam accusamus natus? Assumenda autem illo et, aut atque excepturi similique labore voluptatem animi, iure quas dolorem corporis ex saepe minima debitis, libero nostrum. Veritatis, sint ea consequatur porro laboriosam similique sunt eum doloremque culpa harum soluta nesciunt vel amet necessitatibus eveniet obcaecati. Consequatur dolore praesentium eos tempora amet? Laudantium molestias animi recusandae vero natus voluptatum, maiores eveniet aliquid consequuntur iste illo ipsum, vitae est minus assumenda eligendi adipisci aperiam explicabo, minima iusto nostrum.</p>
        </section>
    </main>
</body>
</html>